/* popup.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  min-width: 780px; /* 強制設定寬度 */
}

#search-bar {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}

#extensions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.extension-card {
  width: 100px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.extension-card img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.extension-card p {
  font-size: 14px;
  color: black;
  margin: 5px 0 0;
}

.extension-card.disabled {
  filter: grayscale(100%);
  background-color: #4a4a4a;
}

.extension-card.disabled p {
  color: white;
}
