body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

#extensions-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 800px;
  margin: auto;
}

.setting-card {
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.setting-card img {
  width: 48px;
  height: 48px;
  margin-bottom: 5px;
  border-radius: 8px;
}

.setting-card p {
  font-size: 14px;
  color: black;
  margin: 5px 0;
}

.setting-card input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #4a90e2; /* 選中顏色 */
  margin-top: 8px;
}

#save-settings {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#save-settings:hover {
  background-color: #357ABD;
}
